
html { 
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* background-color: #002D65;*/
    background-color: #800000;

        
}

h1{
	font-family: Rockwell;
    color: white;
    text-align: center;
	text-shadow:9px 9px 0px black;
    font-size: 5em;
}



#buttonWrapper{
	margin-left: 45%;
	margin-right: auto;
	width: 5px;
	height: 5px;
    border-radius: 1em;
    text-align: center;
    -webkit-filter: drop-shadow(9px 9px 0px rgba(0,0,0,.8));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";


}

:link {
	color: #ffffff;
	text-decoration: none;

}
:visited {
	color: #ababab;
}


input{

    width:150px;
    height:150px;
    outline: none;

}

input:hover{
 	-webkit-filter: hue-rotate(300deg);

}


p{
	font-family: Rockwell;
    color: white;
    text-align: center;
    font-size: 3em;

}

#restName {
    font-family: Rockwell;
    color: white;
    text-align: center;
    font-size: 5em;
}

#restType {
    font-family: Rockwell;
    color: white;
    text-align: center;
    font-size: 3em;

}

#spacer {
    height:150px;

}



#active {
    font-family: Rockwell;
    color: white;
    text-align: center;
    font-size: 5em;

}

:link:hover{
	 color: #ababab;

}


button:hover{
		background-color: #dd0000;
}