
html { 
    
  /*background: url("http://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Tennessee.svg/2000px-Flag_of_Tennessee.svg.png") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #002D65;
        
}

h1{
	font-family: courier;
    color: white;
    text-align: center;
	text-shadow:9px 9px 0px black;
    font-size: 5em;
}



#buttonWrapper{
	margin-left: 70%;
	margin-right: auto;
	width: 5px;
	height: 5px;
    border-radius: 1em;
    text-align: center;


}

input{
    width:150px;
    height:150px;
}


#restName {
    font-family: courier;
    color: white;
    text-align: center;
    font-size: 5em;
}

#restType {
    font-family: courier;
    color: white;
    text-align: center;
    font-size: 3em;

}

#spacer {
    height:150px;

}



#active {
    font-family: courier;
    color: white;
    text-align: center;
    font-size: 5em;

}


button:hover{
		background-color: #dd0000;
}